<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>Smile</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <display-name>registrationServlet</display-name>
    <servlet-name>registrationServlet</servlet-name>
    <servlet-class>com.exampleProject.registrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registrationServlet</servlet-name>
    <url-pattern>/registrationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>studentsList</display-name>
    <servlet-name>studentsList</servlet-name>
    <servlet-class>com.exampleProject.studentsList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>studentsList</servlet-name>
    <url-pattern>/studentsList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>registerServlet</display-name>
    <servlet-name>registerServlet</servlet-name>
    <servlet-class>com.servlets.registerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registerServlet</servlet-name>
    <url-pattern>/registerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updateServlet</display-name>
    <servlet-name>updateServlet</servlet-name>
    <servlet-class>com.servlets.updateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateServlet</servlet-name>
    <url-pattern>/updateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteServlet</display-name>
    <servlet-name>deleteServlet</servlet-name>
    <servlet-class>com.servlets.deleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteServlet</servlet-name>
    <url-pattern>/deleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getAllUsers</display-name>
    <servlet-name>getAllUsers</servlet-name>
    <servlet-class>com.servlets.getAllUsers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getAllUsers</servlet-name>
    <url-pattern>/getAllUsers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adminLogin</display-name>
    <servlet-name>adminLogin</servlet-name>
    <servlet-class>com.servlets.adminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminLogin</servlet-name>
    <url-pattern>/adminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logout</display-name>
    <servlet-name>logout</servlet-name>
    <servlet-class>com.servlets.logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>desmoServlet</display-name>
    <servlet-name>desmoServlet</servlet-name>
    <servlet-class>com.servlets.desmoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>desmoServlet</servlet-name>
    <url-pattern>/desmoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>qrcode</display-name>
    <servlet-name>qrcode</servlet-name>
    <servlet-class>com.servlets.qrcode</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>qrcode</servlet-name>
    <url-pattern>/qrcode</url-pattern>
  </servlet-mapping>
</web-app>